@import url('styla.css');

#animachar1{
    width: 34rem;
    position: absolute;
    top: 11%;
    right: 50%;
}

#animachar2{
    width: 55rem;
    position: absolute;
    top: 11%;
    right: 18%;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  